src/main/mule/mulesoft-study.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a774902f-c55d-4808-a53c-0b95775545fc" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-studyFlow" doc:id="199380a9-48b2-43e0-bfc4-a57246a080cb" >
		<http:listener doc:name="Listener" doc:id="d790244f-9f34-4188-b821-fb05d84c1c1a" config-ref="HTTP_Listener_config" path="/greet"/>
		<ee:transform doc:name="Transform Message" doc:id="9f2b4401-b58f-483c-9ff2-58d5f280b2f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Hi after deployment"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fddb8633-1dc6-48ec-8dce-841c56b8d3e4" message="#[payload]"/>
	</flow>
</mule>
